@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif; /* for descriptions */
  color: #e7e7eb;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  height: 100vh;
}

.container {
  max-width: 1320px;
  padding-inline: 3em;
  width: 100%;
  margin-inline: auto;
}
#epicode-upper-logo-container {
  padding-top: 3em;
}
img {
  height: 40px;
}
.question-block {
  width: 800px;
  margin-inline: auto;
  margin-top: 10em;
  text-align: center;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.question {
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  line-height: 55px;
  margin-inline: auto;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.next-button {
  text-align: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  vertical-align: middle;
  width: 180px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.next-button:hover {
  background: linear-gradient(
    120deg,
    rgba(210, 0, 148, 100%) 0%,
    rgba(144, 0, 128, 100%) 100%
  );
}

.main-area {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  font-size: 20px;
  /* line-height: 60px; */
  width: 46%;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  background-color: rgb(255 255 255/0.95);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(8px);
  box-shadow: 3px 4px 2px rgba(255, 255, 255, 0.6) inset;
  cursor: pointer;
}

.selected {
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 100%) 0%,
    rgba(144, 0, 128, 100%) 100%
  );
}

.disappear {
  visibility: hidden;
}
