@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* for descriptions */
  color: #e7e7eb;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
}

.container {
  max-width: 1320px;
  padding-inline: 3em;
  width: 100%;
  margin-inline: auto;
}

#epicode-upper-logo-container {
  padding-top: 3em;
}

img {
  height: 40px;
}

.main {
  padding-left: 2em;
  padding-right: 2em;
}

.selected {
  background-color: black;
}

.next-button {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 50px;
}

.main-area {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-question {
  border: solid 3px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 10px 10px 10px 10px;
}

.disappear {
  visibility: hidden;
}