body {
    font-family:'Inter', sans-serif; /* for descriptions */
    color: rgb(231, 231, 235);
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 50%;
}

#main-background {
    margin-left: auto;
    margin-right: auto;
}

.titles {
    font-family: 'Outfit', sans-serif;
}

#epicode-upper-logo-container {
    padding-top: 5%;
}

img {
    height: 40px;
    width: 180px;
    margin-left: 20%;
    margin-right: 35%;
}

#welcome {
    color: rgb(231, 231, 235);
    font-family: 'Outfit', sans-serif;
    margin-left: 20%;
    margin-right: 35%;
    font-size: 40px;
    line-height: 0.8;
}

h2 {
    color: rgb(194, 18, 141);
    font-size: 30px;
}

#instructions {
    color: rgb(194, 18, 141);  
    margin-left: 20%;
    margin-right: 35%;
}

span {
    font-weight: bolder;
}

#instructions > p {
    color: rgb(231, 231, 235);
}

#unordered-list {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 35%;
    line-height: 1.5;
}

ul {
    padding-left: 25px;
}

#bottom-container {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 25%;
    display: flex;
    align-items: baseline;
}


#promise-checkbox-div {
    font-size: 14px;
}

#promise-checkbox {
    width: 25px;
    height: 25px;
    border-radius: 0;
    cursor: pointer;
}

#promise-text {
    display: inline;
}

#proceed-button {
    width: 200px;
    height: 75px;
    font-family:'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 0;
    background-color: rgb(194, 18, 141);
    border-style: none;
    transition: all 350ms linear;
    margin-left: 220px;
    cursor: pointer;
}

#proceed-button:hover {
    background-color: rgb(0, 255, 255);
    color:rgb(11, 17, 59);
    box-shadow: -1px 1px 75px 12px rgba(0,255,255,0.74);
}