@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* font-family: "Outfit", sans-serif; */
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 50%;
}

.text-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.main-layout {
  color: white;
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.4;
}

.container {
  max-width: 1320px;
  padding-inline: 12px;
  width: 100%;
  margin-inline: auto;
}

.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo {
  height: 40px;
  vertical-align: middle;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-wrapper {
  width: 100%;
}

.heading-2 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Outfit", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.graph-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.corr-wrong-heading {
  font-size: 50px;
  line-height: 60px;
  font-family: "Outfit", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.per-heading {
  font-size: 50px;
  line-height: 60px;
  font-family: "Outfit", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.sub-text {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.canvas-block {
  max-width: 100%;
}

.about-result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-align: center;
}

.cong-heading {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
}

.highlight-color {
  font-size: 18px;
  font-weight: 700;
  color: #00ffff;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.sub-info-text {
  font-size: 14px;
  letter-spacing: 0;
}

.rate-btn {
  text-align: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  padding: 20px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  vertical-align: middle;
  width: 230px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.rate-btn:hover {
  background: linear-gradient(120deg,
      rgba(210, 0, 148, 100%) 0%,
      rgba(144, 0, 128, 100%) 100%);
}

/* ___________________________________ chart css___________________________________ */
@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.pie {
  --p: 75.86;
  --b: 60px;
  --c: #00ffff;
  --w: 450px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #00ffff) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #9d1d8f 0);
  -webkit-mask: radial-gradient(farthest-side,
      #0000 calc(99% - var(--b)),
      #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side,
      #0000 calc(99% - var(--b)),
      #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.animate {
  animation: p 1s 0.5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@keyframes p {
  from {
    --p: 0;
  }
}